nav {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.9rem;
    letter-spacing: 1.4px;
    margin: 0 0 0 60%;
    text-transform: uppercase;
    padding-top: 20px;
    
    ul {
        list-style: none;
        display: flex;
        flex: 3 1 800px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    li {
        flex: 1 2 25%;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
        padding-bottom: 5px;
        border: 3px solid transparent;
        transition: border 0.5s;

        &:hover {
            border-bottom: 3px solid $yellow;
        }
    }
}

.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    nav {
        margin: 0;
        ul {
            width: 400px;
        }
    }   
}  

header {
    nav {
        .ham-menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30vh;
            text-align: center;
            left: 0;
            top: 80px;
            background-color: $white;
            z-index: 10;
            opacity: 1;
            
            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                border: 1px solid black;
                transition: 0.5s;
                &:hover {
                    background-color: $yellow;
                }
            }
        }
    }
}
